#riddle-question-area {
    padding-top: 60px;
    .welcome-user-message {
        font-size: 1.9rem;
        margin-bottom: 20px;
        text-align: center;
        padding: 5px 5px;
        @include text-background();
        p {
            font-size: 1.4rem;
            margin-bottom: 0;
        }
        p.num-of-ten {
            text-align: right;
        }
    }
    .riddle-question-box {
        display: table;
        font-size: 1.5rem;
        @include text-background();
        width: 100%;
        .riddle-count {
            float: right;
            padding-right: 20px;
            vertical-align: bottom;
            p {
                font-size: 1rem;
            }
        }
    }
    .riddle-question-text {
        display: table-cell;
        text-align: center;
        vertical-align: middle; // float:left;
        p {
            width: 80%;
            margin: 15% auto;
            font-size: 1.6rem;
        }
    }

    .game-over {
        padding-top: 5%;
    }
    .game-over>img {
        width: 100%;
    }
    @media (min-width: 768px) {
        .riddle-question-box {
            height: 380px;
            vertical-align: middle;
            width: 100%;
        }
        .riddle-question-text p {
            font-size: 2.1rem;
        }
        .welcome-user-message {
            text-align: left;
            height: 130px;
            font-size: 2rem;
            padding: 10px 10px;
        }
    }
}

#riddle-answer-area {
    padding-top: 30px;
    .riddle-answer-box {
        font-size: 1.5rem;
        @include text-background()
    }
    .end-message {
        margin-top: 15%;
        text-align: center;
        line-height: 2rem;
    }
    .form-control {
        width: 100%;
    }
    .form-group {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .riddle-answer-box {
        vertical-align: middle;
        height: 380px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    #riddle-answer-area {
        padding-top: 210px;
    }
}

.riddle-answer-attempts {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    p:nth-child(2) {
        margin-bottom: 0;
    }
}
