{% extends "layouts/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <form class="login" method="post">
    <label for="email">
      Email:
      <input type="email" name="email" />
      <!-- <input type="email" value="{{ email }}" name="email" /> -->
    </label>

    <label for="password">
      Password:
      <input type="password" name="password" />
      <!-- <input type="password" value="{{ password }}" name="password" /> -->
    </label>

    <input type="submit" value="Login" />
  </form>
{% endblock %}

