<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="static/styles.css" type="text/css" />
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>{{ self.title() }}</h1>

      <nav>
        {% if g.user %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        {% endif %}
      </nav>
    </header>

    <main>
      {% for message in get_flashed_messages() %}
        <article class="flash error">{{ message }}</article>
      {% endfor %}

      {% block content %}{% endblock %}
    </main>

    {% include 'layouts/footer.html' %}
  </body>
</html>
