
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Static Files &#8212; Flask Documentation (1.1.x)</title>
    <link rel="stylesheet" href="../../_static/flask.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://assets.readthedocs.org/static/css/badge_only.css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/language_data.js"></script>
    <script type="text/javascript" src="https://assets.readthedocs.org/static/javascript/readthedocs-doc-embed.js"></script>
    <link rel="shortcut icon" href="../../_static/flask-icon.png"/>
    <link rel="index" title="Index" href="../../genindex/" />
    <link rel="search" title="Search" href="../../search/" />
    <link rel="next" title="Blog Blueprint" href="../blog/" />
    <link rel="prev" title="Templates" href="../templates/" />
    <link rel="canonical" href="https://flask.palletsprojects.com/en/1.1.x/tutorial/static/">
  <script>DOCUMENTATION_OPTIONS.URL_ROOT = '../../';</script>
   
  
<!-- RTD Extra Head -->

<!-- 
Always link to the latest version, as canonical.
http://docs.readthedocs.org/en/latest/canonical.html
-->
<link rel="canonical" href="https://flask.palletsprojects.com/en/1.1.x/tutorial/static/" />

<link rel="stylesheet" href="https://assets.readthedocs.org/static/css/readthedocs-doc-embed.css" type="text/css" />

<script type="text/javascript" src="../../_static/readthedocs-data.js"></script>

<!-- Add page-specific data, which must exist in the page js, not global -->
<script type="text/javascript">
READTHEDOCS_DATA['page'] = "tutorial/static"
READTHEDOCS_DATA['source_suffix'] = ".rst"
</script>

<script type="text/javascript" src="https://assets.readthedocs.org/static/javascript/readthedocs-analytics.js"></script>

<!-- end RTD <extrahead> -->
</head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex/" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../py-modindex/" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../blog/" title="Blog Blueprint"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../templates/" title="Templates"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../">Flask Documentation (1.1.x)</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="../" accesskey="U">Tutorial</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="static-files">
<h1>Static Files<a class="headerlink" href="#static-files" title="Permalink to this headline">¶</a></h1>
<p>The authentication views and templates work, but they look very plain
right now. Some <a class="reference external" href="https://developer.mozilla.org/docs/Web/CSS">CSS</a> can be added to add style to the HTML layout you
constructed. The style won’t change, so it’s a <em>static</em> file rather than
a template.</p>
<p>Flask automatically adds a <code class="docutils literal notranslate"><span class="pre">static</span></code> view that takes a path relative
to the <code class="docutils literal notranslate"><span class="pre">flaskr/static</span></code> directory and serves it. The <code class="docutils literal notranslate"><span class="pre">base.html</span></code>
template already has a link to the <code class="docutils literal notranslate"><span class="pre">style.css</span></code> file:</p>
<div class="highlight-html+jinja notranslate"><div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="nv">url_for</span><span class="o">(</span><span class="s1">&#39;static&#39;</span><span class="o">,</span> <span class="nv">filename</span><span class="o">=</span><span class="s1">&#39;style.css&#39;</span><span class="o">)</span> <span class="cp">}}</span>
</pre></div>
</div>
<p>Besides CSS, other types of static files might be files with JavaScript
functions, or a logo image. They are all placed under the
<code class="docutils literal notranslate"><span class="pre">flaskr/static</span></code> directory and referenced with
<code class="docutils literal notranslate"><span class="pre">url_for('static',</span> <span class="pre">filename='...')</span></code>.</p>
<p>This tutorial isn’t focused on how to write CSS, so you can just copy
the following into the <code class="docutils literal notranslate"><span class="pre">flaskr/static/style.css</span></code> file:</p>
<div class="literal-block-wrapper docutils container" id="id1">
<div class="code-block-caption"><span class="caption-text"><code class="docutils literal notranslate"><span class="pre">flaskr/static/style.css</span></code></span><a class="headerlink" href="#id1" title="Permalink to this code">¶</a></div>
<div class="highlight-css notranslate"><div class="highlight"><pre><span></span><span class="nt">html</span> <span class="p">{</span> <span class="k">font-family</span><span class="p">:</span> <span class="kc">sans-serif</span><span class="p">;</span> <span class="k">background</span><span class="p">:</span> <span class="mh">#eee</span><span class="p">;</span> <span class="k">padding</span><span class="p">:</span> <span class="mi">1</span><span class="kt">rem</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">body</span> <span class="p">{</span> <span class="k">max-width</span><span class="p">:</span> <span class="mi">960</span><span class="kt">px</span><span class="p">;</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span> <span class="kc">auto</span><span class="p">;</span> <span class="k">background</span><span class="p">:</span> <span class="kc">white</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">h1</span> <span class="p">{</span> <span class="k">font-family</span><span class="p">:</span> <span class="kc">serif</span><span class="p">;</span> <span class="k">color</span><span class="p">:</span> <span class="mh">#377ba8</span><span class="p">;</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">1</span><span class="kt">rem</span> <span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">a</span> <span class="p">{</span> <span class="k">color</span><span class="p">:</span> <span class="mh">#377ba8</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">hr</span> <span class="p">{</span> <span class="k">border</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="k">border-top</span><span class="p">:</span> <span class="mi">1</span><span class="kt">px</span> <span class="kc">solid</span> <span class="kc">lightgray</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">nav</span> <span class="p">{</span> <span class="k">background</span><span class="p">:</span> <span class="kc">lightgray</span><span class="p">;</span> <span class="k">display</span><span class="p">:</span> <span class="kc">flex</span><span class="p">;</span> <span class="k">align-items</span><span class="p">:</span> <span class="kc">center</span><span class="p">;</span> <span class="k">padding</span><span class="p">:</span> <span class="mi">0</span> <span class="mf">0.5</span><span class="kt">rem</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">nav</span> <span class="nt">h1</span> <span class="p">{</span> <span class="k">flex</span><span class="p">:</span> <span class="kc">auto</span><span class="p">;</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">nav</span> <span class="nt">h1</span> <span class="nt">a</span> <span class="p">{</span> <span class="k">text-decoration</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="k">padding</span><span class="p">:</span> <span class="mf">0.25</span><span class="kt">rem</span> <span class="mf">0.5</span><span class="kt">rem</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">nav</span> <span class="nt">ul</span>  <span class="p">{</span> <span class="k">display</span><span class="p">:</span> <span class="kc">flex</span><span class="p">;</span> <span class="k">list-style</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span> <span class="k">padding</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">nav</span> <span class="nt">ul</span> <span class="nt">li</span> <span class="nt">a</span><span class="o">,</span> <span class="nt">nav</span> <span class="nt">ul</span> <span class="nt">li</span> <span class="nt">span</span><span class="o">,</span> <span class="nt">header</span> <span class="p">.</span><span class="nc">action</span> <span class="p">{</span> <span class="k">display</span><span class="p">:</span> <span class="kc">block</span><span class="p">;</span> <span class="k">padding</span><span class="p">:</span> <span class="mf">0.5</span><span class="kt">rem</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">content</span> <span class="p">{</span> <span class="k">padding</span><span class="p">:</span> <span class="mi">0</span> <span class="mi">1</span><span class="kt">rem</span> <span class="mi">1</span><span class="kt">rem</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">content</span> <span class="o">&gt;</span> <span class="nt">header</span> <span class="p">{</span> <span class="k">border-bottom</span><span class="p">:</span> <span class="mi">1</span><span class="kt">px</span> <span class="kc">solid</span> <span class="kc">lightgray</span><span class="p">;</span> <span class="k">display</span><span class="p">:</span> <span class="kc">flex</span><span class="p">;</span> <span class="k">align-items</span><span class="p">:</span> <span class="kc">flex-end</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">content</span> <span class="o">&gt;</span> <span class="nt">header</span> <span class="nt">h1</span> <span class="p">{</span> <span class="k">flex</span><span class="p">:</span> <span class="kc">auto</span><span class="p">;</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">1</span><span class="kt">rem</span> <span class="mi">0</span> <span class="mf">0.25</span><span class="kt">rem</span> <span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">flash</span> <span class="p">{</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">1</span><span class="kt">em</span> <span class="mi">0</span><span class="p">;</span> <span class="k">padding</span><span class="p">:</span> <span class="mi">1</span><span class="kt">em</span><span class="p">;</span> <span class="k">background</span><span class="p">:</span> <span class="mh">#cae6f6</span><span class="p">;</span> <span class="k">border</span><span class="p">:</span> <span class="mi">1</span><span class="kt">px</span> <span class="kc">solid</span> <span class="mh">#377ba8</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">post</span> <span class="o">&gt;</span> <span class="nt">header</span> <span class="p">{</span> <span class="k">display</span><span class="p">:</span> <span class="kc">flex</span><span class="p">;</span> <span class="k">align-items</span><span class="p">:</span> <span class="kc">flex-end</span><span class="p">;</span> <span class="k">font-size</span><span class="p">:</span> <span class="mf">0.85</span><span class="kt">em</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">post</span> <span class="o">&gt;</span> <span class="nt">header</span> <span class="o">&gt;</span> <span class="nt">div</span><span class="p">:</span><span class="nd">first-of-type</span> <span class="p">{</span> <span class="k">flex</span><span class="p">:</span> <span class="kc">auto</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">post</span> <span class="o">&gt;</span> <span class="nt">header</span> <span class="nt">h1</span> <span class="p">{</span> <span class="k">font-size</span><span class="p">:</span> <span class="mf">1.5</span><span class="kt">em</span><span class="p">;</span> <span class="k">margin-bottom</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">post</span> <span class="p">.</span><span class="nc">about</span> <span class="p">{</span> <span class="k">color</span><span class="p">:</span> <span class="kc">slategray</span><span class="p">;</span> <span class="k">font-style</span><span class="p">:</span> <span class="kc">italic</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">post</span> <span class="p">.</span><span class="nc">body</span> <span class="p">{</span> <span class="k">white-space</span><span class="p">:</span> <span class="kc">pre-line</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">content</span><span class="p">:</span><span class="nd">last-child</span> <span class="p">{</span> <span class="k">margin-bottom</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">content</span> <span class="nt">form</span> <span class="p">{</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">1</span><span class="kt">em</span> <span class="mi">0</span><span class="p">;</span> <span class="k">display</span><span class="p">:</span> <span class="kc">flex</span><span class="p">;</span> <span class="k">flex-direction</span><span class="p">:</span> <span class="kc">column</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">content</span> <span class="nt">label</span> <span class="p">{</span> <span class="k">font-weight</span><span class="p">:</span> <span class="kc">bold</span><span class="p">;</span> <span class="k">margin-bottom</span><span class="p">:</span> <span class="mf">0.5</span><span class="kt">em</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">content</span> <span class="nt">input</span><span class="o">,</span> <span class="p">.</span><span class="nc">content</span> <span class="nt">textarea</span> <span class="p">{</span> <span class="k">margin-bottom</span><span class="p">:</span> <span class="mi">1</span><span class="kt">em</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">content</span> <span class="nt">textarea</span> <span class="p">{</span> <span class="k">min-height</span><span class="p">:</span> <span class="mi">12</span><span class="kt">em</span><span class="p">;</span> <span class="k">resize</span><span class="p">:</span> <span class="kc">vertical</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">input</span><span class="p">.</span><span class="nc">danger</span> <span class="p">{</span> <span class="k">color</span><span class="p">:</span> <span class="mh">#cc2f2e</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">input</span><span class="o">[</span><span class="nt">type</span><span class="o">=</span><span class="nt">submit</span><span class="o">]</span> <span class="p">{</span> <span class="k">align-self</span><span class="p">:</span> <span class="kc">start</span><span class="p">;</span> <span class="k">min-width</span><span class="p">:</span> <span class="mi">10</span><span class="kt">em</span><span class="p">;</span> <span class="p">}</span>
</pre></div>
</div>
</div>
<p>You can find a less compact version of <code class="docutils literal notranslate"><span class="pre">style.css</span></code> in the
<a class="reference external" href="https://github.com/pallets/flask/tree/master/examples/tutorial/flaskr/static/style.css">example code</a>.</p>
<p>Go to <a class="reference external" href="http://127.0.0.1:5000/auth/login">http://127.0.0.1:5000/auth/login</a> and the page should look like the
screenshot below.</p>
<img alt="screenshot of login page" class="screenshot align-center" src="../../_images/flaskr_login.png" />
<p>You can read more about CSS from <a class="reference external" href="https://developer.mozilla.org/docs/Web/CSS">Mozilla’s documentation</a>. If
you change a static file, refresh the browser page. If the change
doesn’t show up, try clearing your browser’s cache.</p>
<p>Continue to <a class="reference internal" href="../blog/"><span class="doc">Blog Blueprint</span></a>.</p>
</div>


          </div>
        </div>
      </div>
  <span id="sidebar-top"></span>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  
    
            <p class="logo"><a href="../../">
              <img class="logo" src="../../_static/flask-icon.png" alt="Logo"/>
            </a></p>
  
<h3>Navigation</h3>
<ul>
  <li><a href="../../">Overview</a>
    <ul>
      <li><a href="../">Tutorial</a>
        <ul>
          <li>Previous: <a href="../templates/" title="previous chapter">Templates</a>
          <li>Next: <a href="../blog/" title="next chapter">Blog Blueprint</a></ul>
      </li>
    </ul>
  </li>
</ul>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search/" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  
    <div class="footer" role="contentinfo">
        &#169; Copyright 2010 Pallets.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 2.2.2.
    </div>
    <script>
      if (typeof READTHEDOCS_DATA !== 'undefined') {
        if (!READTHEDOCS_DATA.features) {
          READTHEDOCS_DATA.features = {};
        }
        READTHEDOCS_DATA.features.docsearch_disabled = true;
      }
    </script>
  <script type="text/javascript" src="../../_static/version_warning_offset.js"></script>

  </body>
</html>