<!doctype html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/cs">
    <link href="http://fonts.googleapis.com/css?family=Coming+Soon:regular" rel="stylesheet" type="text/css">
  </head>
  <body>
    <ul id="tasklist">
      {% if tasks|length == 0 %}
      <li>
        <span class="check">
          <span>
            &nbsp;
          </span>
        </span>
      {% if authorize_url %}
        <a class="title" title="Grant read access to your tasks" href="{{ authorize_url }}">Grant Access</a>
      {% else %}
        <a class="title" title="Add more tasks in Gmail" href="http://mail.google.com/">Add More Tasks</a>
      {% endif %}
      </li>
      {% endif %}
      {% for task in tasks %}
      <li class="{{ task.status }}">
        <span class="check">
          <span>
            {% if task.status == "completed" %}
            &#x2713;
            {% else %}
            &nbsp;
            {% endif %}
          </span>
        </span>
        <a class="title" title="{{ task.title }}">{{ task.title_short }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
