<!DOCTYPE html>
<html lang="en" class="no-js">

  {% include head.html %}

  <body style="min-height: 100vh;" class="d-flex flex-column">
    {% include header.html %}

    <main class="site-content">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>