altgraph==0.17
appdirs==1.4.3
attrs==19.3.0
auto-py-to-exe==2.7.5
beautifulsoup4==4.9.0
bottle==0.12.18
bottle-websocket==0.2.9
bs4==0.0.1
bsddb3==6.2.7
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
chicken==0.1.0
click==7.1.2
colorama==0.4.3
configparser==5.0.0
cssselect2==0.3.0
darkslide==5.1.0
defusedxml==0.6.0
distlib==0.3.1
docopt==0.6.2
docutils==0.16
Eel==0.12.4
egg==0.2.0
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
git-filter-repo==2.27.1
google==3.0.0
google-speech==1.1.0
greenlet==0.4.15
gTTS==2.1.1
gTTS-token==1.1.3
html5lib==1.1
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
jinja2==3.0.0a1
Js2Py==0.70
jsonschema==3.2.0
lxml==4.5.0
markdown==3.2.2
markupsafe==2.0.0a1
mobly==1.10
more-itertools==8.2.0
msgpack==1.0.0
msgpack-python==0.5.6
ordered-set==3.1.1
packaging==20.3
pefile==2019.4.18
Pillow==7.2.0
pipenv==2020.6.2
pipwin==0.5.0
pluggy==0.13.1
py==1.8.1
pycairo==1.19.1
pycparser==2.20
pygments==2.6.1
PyGObject==3.36.1
PyGoogleVoice==0.5.2
PyICU==2.5
PyInstaller==3.6
pyjs @ git+https://github.com/pyjs/pyjs.git@6c4a3d3a67300cd5df7f95a67ca9dcdc06950523
pyjsparser==2.7.1
pyparsing==2.4.7
Pyphen==0.9.5
PyPrind==2.11.2
pyrsistent==0.16.0
pySmartDL==1.3.3
pytz==2020.1
pywin32-ctypes==0.2.0
qrcode==6.1
requests==2.23.0
Send2Trash==1.5.0
shell==1.0.1
six==1.14.0
soupsieve==2.0
Termux-Mpv @ git+https://github.com/Neo-Oli/Termux-Mpv@b1fa77c89860265a6aadd265464869e4a26e68a5
tinycss2==1.0.2
tzlocal==2.1
uritools==3.0.0
urlextract==0.14.0
urllib3==1.25.9
virtualenv==20.0.25
virtualenv-clone==0.5.4
wcwidth==0.1.9
WeasyPrint==51
web-cache==1.1.0
webencodings==0.5.1
Werkzeug==1.0.1
whichcraft==0.6.1
youtube-dl==2020.6.16.1
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
