<!--
// Copyright (c) Microsoft Corporation
// All rights reserved.
//
// MIT License:
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// "Software"), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
//
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
// OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
// WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<html>
    <head>
        <title>Silent Authentication Sample Login</title>
    </head>
    <body>
        <script src="https://statics.teams.cdn.office.net/sdk/v1.5.2/js/MicrosoftTeams.min.js" integrity="sha384-SNENyRfvDvybst1u0LawETYF6L5yMx5Ya1dIqWoG4UDTZ/5UAMB15h37ktdBbyFh" crossorigin="anonymous"></script>
        <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.15/js/adal.min.js" integrity="sha384-lIk8T3uMxKqXQVVfFbiw0K/Nq+kt1P3NtGt/pNexiDby2rKU6xnDY8p16gIwKqgI" crossorigin="anonymous"></script>

        <script type="text/javascript">
            microsoftTeams.initialize();

            // Get the tab context, and use the information to navigate to Azure AD login page
            microsoftTeams.getContext(function (context) {
                // ADAL.js configuration
                let config = {
                    clientId: "{{appId}}",
                    redirectUri: window.location.origin + "/tab-auth/silent-end",       // This should be in the list of redirect uris for the AAD app
                    cacheLocation: "localStorage",
                    navigateToLoginRequestUrl: false,
                };

                // Setup extra query parameters for ADAL
                // - openid and profile scope adds profile information to the id_token
                // - login_hint provides the expected user name
                if (context.upn) {
                    config.extraQueryParameters = "scope=openid+profile&login_hint=" + encodeURIComponent(context.upn);
                } else {
                    config.extraQueryParameters = "scope=openid+profile";              
                }
    
                // Use a custom displayCall function to add extra query parameters to the url before navigating to it
                config.displayCall = function (urlNavigate) {
                    if (urlNavigate) {
                        if (config.extraQueryParameters) {
                            urlNavigate += "&" + config.extraQueryParameters;
                        }
                        window.location.replace(urlNavigate);
                    }
                }

                // Navigate to the AzureAD login page        
                let authContext = new AuthenticationContext(config);
                authContext.login();
            });
        </script>
    </body>
</html>
