extends ../base

block header
  h1= title

block content
  form(method='post')
    label(for='username') Username
    input(
      type='text',
      id='username',
      name='username',
      required
    )

    label(for='password') Password
    input(
      type='password',
      id='password',
      name='password',
      required
    )

    input(
      type='submit',
      value=title
    )

