<!doctype html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:site_name" content="Pallets">
<meta property="og:image:type" content="image/png">
<meta property="og:title" content="Jinja">
<meta property="og:url" content="https://palletsprojects.com/p/jinja/">
<meta property="og:image" content="https://palletsprojects.com/og_image.png">
<meta property="og:image:height" content="400">
<meta property="og:type" content="website">
<meta property="og:image:alt" content="logo">
<meta property="og:image:width" content="400">
<link rel="stylesheet" href="/static/styles.css?h=8f5826ef">
<link rel="stylesheet" href="/static/pygments.css">
<script type="text/javascript" src="/static/app.js?h=bae3ee5f"></script>
<title>Jinja | The Pallets Projects</title>
<body class="default">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">The Pallets Projects</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            
              <a href="/p/">Projects</a>
            
          </li>
        
          <li>
            
              <a href="/governance/">Governance</a>
            
          </li>
        
          <li>
            
              <a href="/people/">People</a>
            
          </li>
        
          <li>
            
              <a href="/blog/">Blog</a>
            
          </li>
        
          <li>
            
              <a href="/donate"><strong>Donate</strong></a>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="body-wrapper">
    
    <div class="container">
      
  
  <ul class="project-selector">
    <li><a href="/p/">Overview</a>
    
      <li><a href="/p/click/">Click</a>
    
      <li><a href="/p/flask/">Flask</a>
    
      <li><a href="/p/itsdangerous/">ItsDangerous</a>
    
      <li class=active><a href="/p/jinja/">Jinja</a>
    
      <li><a href="/p/markupsafe/">MarkupSafe</a>
    
      <li><a href="/p/werkzeug/">Werkzeug</a>
    
  </ul>
  
  <div class="row">
    <div class="col-sm-9">
      <h1>Jinja</h1>
    </div>
    <div class="col-sm-3">
      <div class="github-button">
        <a class="github-button"
          href="https://github.com/pallets/jinja"
          data-size="large"
          data-show-count="true"
          aria-label="Star pallets/jinja on GitHub"
        >Star</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <p>Jinja2 is a full-featured template engine for Python. It has full unicode
support, an optional integrated sandboxed execution environment,
widely used and BSD licensed.</p>
<h2 id="jinja-is-beautiful">Jinja is Beautiful</h2><div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;layout.html&quot;</span> <span class="cp">%}</span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">body</span> <span class="cp">%}</span>
  <span class="p">&lt;</span><span class="nt">ul</span><span class="p">&gt;</span>
  <span class="cp">{%</span> <span class="k">for</span> <span class="nv">user</span> <span class="k">in</span> <span class="nv">users</span> <span class="cp">%}</span>
    <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;</span><span class="cp">{{</span> <span class="nv">user.url</span> <span class="cp">}}</span><span class="s">&quot;</span><span class="p">&gt;</span><span class="cp">{{</span> <span class="nv">user.username</span> <span class="cp">}}</span><span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
  <span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span>
  <span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span>
</pre></div>
<h2 id="and-powerful">And Powerful</h2><p>Jinja2 is one of the most used template engines for Python. It is inspired by
Django's templating system but extends it with an expressive language
that gives template authors a more powerful set of tools. On top of that it
adds sandboxed execution and optional automatic escaping for
applications where security is important.</p>
<p>It is internally based on Unicode and runs on a wide range of Python
versions from 2.5 to current versions including Python 3.</p>
<h2 id="wide-range-of-features">Wide Range of Features</h2><ul>
<li>Sandboxed execution mode. Every aspect of the template execution is monitored and explicitly whitelisted or blacklisted, whatever is preferred. This makes it possible to execute untrusted templates.</li>
<li>powerful automatic HTML escaping system for cross site scripting prevention.</li>
<li>Template inheritance makes it possible to use the same or a similar layout for all templates.</li>
<li>High performance with just in time compilation to Python bytecode. Jinja2 will translate your template sources on first load into Python bytecode for best runtime performance.</li>
<li>Optional ahead-of-time compilation</li>
<li>Easy to debug with a debug system that integrates template compile and runtime errors into the standard Python traceback system.</li>
<li>Configurable syntax. For instance you can reconfigure Jinja2 to better fit output formats such as LaTeX or JavaScript.</li>
<li>Template designer helpers. Jinja2 ships with a wide range of useful little helpers that help solving common tasks in templates such as breaking up sequences of items into multiple columns and more.</li>
</ul>

    </div>
    <div class="col-sm-3">
      <div class="infobox">
        <p><span class="fa fa-fw fa-github"></span>
          <a href="https://github.com/pallets/jinja">pallets/jinja</a>
        
        <p><span class="fa fa-fw fa-list"></span> <a href="https://pypi.python.org/pypi/Jinja2">Releases on PyPI</a>
        <p><span class="fa fa-fw fa-cogs"></span> <a href="https://travis-ci.org/pallets/jinja">Test status</a>
        <p><span class="fa fa-fw fa-book"></span> <a href="https://jinja.palletsprojects.com/">Documentation</a>
        <div class="pypi-box" data-pypi="Jinja2"></div>
      </div>
    </div>
  </div>


    </div>
    
  </div>

  
  <div class="bottomsummary">
    <div class="container">
    </div>
  </div>
  

  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 icon-bar">
          <a href="https://github.com/pallets/" title="Pallets on GitHub"
            ><i class="fa fa-github"></i></a>
          <a href="https://twitter.com/PalletsTeam/" title="Pallets on Twitter"
            ><i class="fa fa-twitter"></i></a>
          <a href="https://github.com/pallets/website/tree/master/content/projects/jinja/contents.lr" title="View source for this page"><i class="fa fa-code"></i></a>
        </div>
        <div class="col-sm-9">
          <a href="/license/">License &amp; Copyright</a> •
          <a href="/contact/">Contact</a> •
          Made with <i class="fa fa-fw fa-heart" title="Heart"><span hidden>Heart</span></i>
          and <a href="https://www.getlektor.com/">Lektor</a> all around the World
        </div>
      </div>
    </div>
  </footer>
  
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</body>
