body {
    width: 600px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    font-family: 'Coming Soon', serif;
    font-size: 35px;
}

ul {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #f8f6c6;
    background-image: -webkit-linear-gradient(#fdfce8, #f8f6c6);
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 5px solid #e3e2be;
    -moz-box-shadow: 8px 8px 8px #ccc;
    -webkit-box-shadow: 8px 8px 8px #ccc;
    box-shadow: 8px 8px 8px #ccc;
}

li {
    padding-left: 20px;
    border-bottom: 4px solid #e3e2be;
}

li .check {
    display: block;
    float: left;
    border-right: 8px solid #e3e2be;
    padding-right: 20px;
    width: 20px;
}

li .title {
    margin-left: 4px;
    padding-left: 20px;
    border-left: 4px solid #e3e2be;
    color: black;
    text-decoration: none;
}

li:last-child {
    border-bottom: none;
}
