body {
    background-color: cyan;
}

.page {
    width: auto;
    margin: 50px auto;
    text-align: center;
    background-color: teal;
    border-radius: 5px;
}

body {
    font: 24 'Bungee', Helvetica, Arial, sans-serif;
    color: yellow;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

header {
    font-size: 30px;
    line-height: 60px;
}

h4 {
    font-size: 21px;
    font-family: Dekko Font;
}

h4 #clock {
    font-size: 40px;
    display: block;
    padding: 5px 0px;
}

h1,
h2,
h3,
h6 {
    font-family: 'Bungee Shade', cursive;
}

#lolcatImage {
    max-width: auto;
}

blockquote {
    font: 50px Gruppo;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px #000;
    margin: -80px 0 100px 0;
    color: orange;
}

blockquote:before {
    content: '"';
}

blockquote:after {
    content: '"';
}

#lolcat {
    margin: 0 auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 10px;
    border: 10px solid rgb(34, 34, 34);
}

#wakeUpTimeSelector,
#lunchTimeSelector,
#napTimeSelector {
    padding: 10px 0;
}

#partyTimeButton {
    background-color: yellowgreen;
    width: 300px;
    font-family: 'Bungee', cursive;
    font-size: 40px;
    color: goldenrod;
    border: 4px solid rgb(195, 4, 212);
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    font-size: 30px;
    color: midnightblue;
}