{% extends 'base.html.tmpl' %}

{% block content %}
<h1>{{ title|escape|decode }}</h1>
<p class='post-header'>
<span class='date'>
{%- if date.__class__.__name__ == 'datetime' -%}
{{ date.isoformat(' ') }}
{%- else -%}
{{ date.isoformat() }}
{%- endif -%}
</span>
{%- if author %}
, <span class='author'>by {{ author.name()|decode }}
&lt;{{ author.email()|urlize }}&gt;</span>
{% endif %}
</p>
<div class='post-content'>
{{ content|decode }}</div>

{% endblock %}
{# vim:set ft=htmljinja: #}
