doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')

    title= title + ' - Flaskr'

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      h1: a(href='/') Flaskr-Express

      ul
        if user
          li: span= user.username
          li: a(href='/auth/logout') Log Out
        else
          li: a(href='/auth/register') Register
          li: a(href='/auth/login') Login


    section.content
      header
        block header

      each error in errors ? errors : []
        .flash= error

      block content

