@import "vendor/bootstrap-sass/lib/bootstrap.scss";

/* Color Definitions */
$color-dark: #1875c6;
$color-bright: #00a5ea;
$mono-dark: #222222;
$mono-light: #f3f3f3;
$mono-medium: #5a5a5a;
$mono-bright: #ffffff;

//
table{
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}

iframe[src^="//player.vimeo"]{
  width: 100%;
}

.jumbotron{
  &.classes{
    a{
      text-decoration: none;

      .panel{
        background: none;
        box-shadow: none;
        margin: 1em;
        padding: 1em;
        opacity: .9;
      }

      &:hover{
        .panel{
          color: $mono-bright;
          opacity: 1;
        }
      }

      .octicon{
        font-size: 4em;
      }
    }
  }
}


header{
  padding-top: 1em;
  margin-bottom: 1em;

  .navbar-default{
    background: none !important;
    background-color: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  .navbar-toggle{
      background-color: $mono-light;

      .icon-bar{
        background-color: $color-dark;
      }
  }

  .nav{
    line-height: 50px;
    text-align: center;

    li{
      a{
        color: $mono-bright !important;
        margin-left: 1em;
        margin-right: 1em;
        text-decoration: none;
        opacity: .8;

        &:last-child{
          margin-right: 0;
        }

        &:hover{
          color: $mono-bright;
          text-decoration: none;
          opacity: 1;
          background-color: none !important;
          background: none !important;
        }

        &.active{
          opacity: 1;
        }
      }
    }
  }
}

.jumbotron{
  background-color: $mono-light !important;

  &.colorful{
    background-color: $color-dark !important;
  }
}

.colorful{
  background-color: $color-dark !important;
  color: $mono-bright;

  a{
    color: $mono-bright;
  }
}

.testimonial{
  blockquote{
    border-left: 0;
    font-size: .8em;
    box-shadow: 0 0 0 1px $mono-light;
    background-color: $mono-light;
    border-radius: 3px;

    &:before{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      border-left: 20px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid $mono-light;
      bottom: 20px;
      margin-left: 30%;
    }
  }

  .attribution{
    text-align: center;
    font-size: .8em;
  }
}

.site-header-logo {
  @media (min-width: 768px) {
    float: left;
  }

  .logo {
    width: auto;
    height: 28px;
    overflow: visible !important; // overrides for descender characters to not get cut off by SVG frame.

/*    @include breakpoint($small) {
      height: 22px;
      opacity: 0.9;
    }
*/
    &:hover {
      opacity: 1;
    }

    path,
    ellipse {
      fill: #000;
    }
  }
}

#logo{

  a {
    display: block;
    height: 50px;
    width: 185px;
    text-indent: -999px;
    overflow: hidden;
    background: url('../../images/gh-training-logo-2x.png') no-repeat center center;
    background-size: contain;
  }
}

footer {
  border-top: solid 1px $mono-light;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .8em;

  .octicon-mark-github {
    position: absolute;
    left: 50%;
    color: #ccc;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 1;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 5px;
    }
    li:first-child {
      margin-left: 0;
    }
  }
}

.no-left-padding {
  padding-left: 0px !important;
}
