<div class="border-bottom border-top py-6 bg-gray-light text-center">
  <div class="container-lg py-6 p-responsive">
    <h1>{{ page.title }}</h1>
    {% if page.description %}
    <p class="col-12 col-md-6 mx-auto">{{ page.description }}</p>
    {% endif %}
    {% include translation_buttons.html %}
  </div>
</div>
