*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 2rem auto;
  color: #434363;
  width: 80vw;
}

main {
  margin: 3rem 0;
}

a {
  border-bottom: 1px dotted #4f4aba;
  color: #4f4aba;
  text-decoration: none;
}

input {
  display: block;
}

.flash.error {
  color: red;
}

