.editbox {
  border-width: 0;
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

.editbox pre, .editbox p {
  margin: 0;
  padding: 0;
}

span.keyword {
  color: #770088;
}

span.atom {
  color: #448888;
}

span.variable {
  color: black;
}

span.variabledef {
  color: #0000FF;
}

span.localvariable {
  color: #004499;
}

span.property {
  color: black;
}

span.comment {
  color: #AA7700;
}

span.string {
  color: #AA2222;
}

pre.code, .editbox {
  color: #666666;
}
