# The purpose of this service is to launch demo application on startup
# To install copy it to /etc/systemd/system/ folder and execute the following commands
#  systemctl enable pygame-ts-demo
#  systemctl start  pygame-ts-demo

[Unit]
Description=pygamets demo application launcher
Documentation=https://github.com/olegv142/pygamets

[Service]
Type=idle
WorkingDirectory=/home/pi/src/pygamets/demo/
ExecStart=/usr/bin/daemon -D /home/pi/src/pygamets/demo/ /usr/bin/python /home/pi/src/pygamets/demo/demo.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pygame-ts-demo
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

