<html><body>
<style>

body, h1, h2, h3, div, span, p, pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-size: 13px;
  padding: 1em;
}

h1 {
  font-size: 26px;
  margin-bottom: 1em;
}

h2 {
  font-size: 24px;
  margin-bottom: 1em;
}

h3 {
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

pre, code {
  line-height: 1.5;
  font-family: Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

pre {
  margin-top: 0.5em;
}

h1, h2, h3, p {
  font-family: Arial, sans serif;
}

h1, h2, h3 {
  border-bottom: solid #CCC 1px;
}

.toc_element {
  margin-top: 0.5em;
}

.firstline {
  margin-left: 2 em;
}

.method  {
  margin-top: 1em;
  border: solid 1px #CCC;
  padding: 1em;
  background: #EEE;
}

.details {
  font-weight: bold;
  font-size: 14px;
}

</style>

<h1><a href="tagmanager_v2.html">Tag Manager API</a> . <a href="tagmanager_v2.accounts.html">accounts</a> . <a href="tagmanager_v2.accounts.containers.html">containers</a> . <a href="tagmanager_v2.accounts.containers.workspaces.html">workspaces</a> . <a href="tagmanager_v2.accounts.containers.workspaces.tags.html">tags</a></h1>
<h2>Instance Methods</h2>
<p class="toc_element">
  <code><a href="#create">create(parent, body)</a></code></p>
<p class="firstline">Creates a GTM Tag.</p>
<p class="toc_element">
  <code><a href="#delete">delete(path)</a></code></p>
<p class="firstline">Deletes a GTM Tag.</p>
<p class="toc_element">
  <code><a href="#get">get(path)</a></code></p>
<p class="firstline">Gets a GTM Tag.</p>
<p class="toc_element">
  <code><a href="#list">list(parent, pageToken=None)</a></code></p>
<p class="firstline">Lists all GTM Tags of a Container.</p>
<p class="toc_element">
  <code><a href="#list_next">list_next(previous_request, previous_response)</a></code></p>
<p class="firstline">Retrieves the next page of results.</p>
<p class="toc_element">
  <code><a href="#revert">revert(path, fingerprint=None)</a></code></p>
<p class="firstline">Reverts changes to a GTM Tag in a GTM Workspace.</p>
<p class="toc_element">
  <code><a href="#update">update(path, body, fingerprint=None)</a></code></p>
<p class="firstline">Updates a GTM Tag.</p>
<h3>Method Details</h3>
<div class="method">
    <code class="details" id="create">create(parent, body)</code>
  <pre>Creates a GTM Tag.

Args:
  parent: string, GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id} (required)
  body: object, The request body. (required)
    The object takes the form of:

{ # Represents a Google Tag Manager Tag.
  "paused": True or False, # Indicates whether the tag is paused, which prevents the tag from firing.
  "setupTag": [ # The list of setup tags. Currently we only allow one.
    { # Represents a reference to atag that fires before another tag in order to set up dependencies.
      "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
      "tagName": "A String", # The name of the setup tag.
    },
  ],
  "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
    "A String",
  ],
  "accountId": "A String", # GTM Account ID.
  "teardownTag": [ # The list of teardown tags. Currently we only allow one.
    { # Represents a tag that fires after another tag in order to tear down dependencies.
      "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
      "tagName": "A String", # The name of the teardown tag.
    },
  ],
  "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
    "map": [ # This map parameter's parameters (must have keys; keys must be unique).
      # Object with schema name: Parameter
    ],
    "list": [ # This list parameter's parameters (keys will be ignored).
      # Object with schema name: Parameter
    ],
    "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
    "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
    "type": "A String", # The parameter type. Valid values are:
        # - boolean: The value represents a boolean, represented as 'true' or 'false'
        # - integer: The value represents a 64-bit signed integer value, in base 10
        # - list: A list of parameters should be specified
        # - map: A map of parameters should be specified
        # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
        # - trigger_reference: The value represents a trigger, represented as the trigger id
  },
  "workspaceId": "A String", # GTM Workspace ID.
  "parameter": [ # The tag's parameters.
    { # Represents a Google Tag Manager Parameter.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  ],
  "parentFolderId": "A String", # Parent folder id.
  "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
  "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
  "containerId": "A String", # GTM Container ID.
  "tagFiringOption": "A String", # Option to fire this tag.
  "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
  "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
    "A String",
  ],
  "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
  "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
  "path": "A String", # GTM Tag's API relative path.
  "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
    "A String",
  ],
  "name": "A String", # Tag display name.
  "type": "A String", # GTM Tag Type.
  "notes": "A String", # User notes on how to apply this tag in the container.
  "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
  "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
    "A String",
  ],
}


Returns:
  An object of the form:

    { # Represents a Google Tag Manager Tag.
    "paused": True or False, # Indicates whether the tag is paused, which prevents the tag from firing.
    "setupTag": [ # The list of setup tags. Currently we only allow one.
      { # Represents a reference to atag that fires before another tag in order to set up dependencies.
        "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
        "tagName": "A String", # The name of the setup tag.
      },
    ],
    "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
      "A String",
    ],
    "accountId": "A String", # GTM Account ID.
    "teardownTag": [ # The list of teardown tags. Currently we only allow one.
      { # Represents a tag that fires after another tag in order to tear down dependencies.
        "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
        "tagName": "A String", # The name of the teardown tag.
      },
    ],
    "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "workspaceId": "A String", # GTM Workspace ID.
    "parameter": [ # The tag's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "parentFolderId": "A String", # Parent folder id.
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
    "containerId": "A String", # GTM Container ID.
    "tagFiringOption": "A String", # Option to fire this tag.
    "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
    "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
      "A String",
    ],
    "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
    "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
    "path": "A String", # GTM Tag's API relative path.
    "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
      "A String",
    ],
    "name": "A String", # Tag display name.
    "type": "A String", # GTM Tag Type.
    "notes": "A String", # User notes on how to apply this tag in the container.
    "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
    "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
      "A String",
    ],
  }</pre>
</div>

<div class="method">
    <code class="details" id="delete">delete(path)</code>
  <pre>Deletes a GTM Tag.

Args:
  path: string, GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id} (required)
</pre>
</div>

<div class="method">
    <code class="details" id="get">get(path)</code>
  <pre>Gets a GTM Tag.

Args:
  path: string, GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id} (required)

Returns:
  An object of the form:

    { # Represents a Google Tag Manager Tag.
    "paused": True or False, # Indicates whether the tag is paused, which prevents the tag from firing.
    "setupTag": [ # The list of setup tags. Currently we only allow one.
      { # Represents a reference to atag that fires before another tag in order to set up dependencies.
        "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
        "tagName": "A String", # The name of the setup tag.
      },
    ],
    "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
      "A String",
    ],
    "accountId": "A String", # GTM Account ID.
    "teardownTag": [ # The list of teardown tags. Currently we only allow one.
      { # Represents a tag that fires after another tag in order to tear down dependencies.
        "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
        "tagName": "A String", # The name of the teardown tag.
      },
    ],
    "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "workspaceId": "A String", # GTM Workspace ID.
    "parameter": [ # The tag's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "parentFolderId": "A String", # Parent folder id.
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
    "containerId": "A String", # GTM Container ID.
    "tagFiringOption": "A String", # Option to fire this tag.
    "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
    "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
      "A String",
    ],
    "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
    "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
    "path": "A String", # GTM Tag's API relative path.
    "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
      "A String",
    ],
    "name": "A String", # Tag display name.
    "type": "A String", # GTM Tag Type.
    "notes": "A String", # User notes on how to apply this tag in the container.
    "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
    "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
      "A String",
    ],
  }</pre>
</div>

<div class="method">
    <code class="details" id="list">list(parent, pageToken=None)</code>
  <pre>Lists all GTM Tags of a Container.

Args:
  parent: string, GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id} (required)
  pageToken: string, Continuation token for fetching the next page of results.

Returns:
  An object of the form:

    { # List Tags Response.
    "nextPageToken": "A String", # Continuation token for fetching the next page of results.
    "tag": [ # All GTM Tags of a GTM Container.
      { # Represents a Google Tag Manager Tag.
        "paused": True or False, # Indicates whether the tag is paused, which prevents the tag from firing.
        "setupTag": [ # The list of setup tags. Currently we only allow one.
          { # Represents a reference to atag that fires before another tag in order to set up dependencies.
            "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
            "tagName": "A String", # The name of the setup tag.
          },
        ],
        "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
          "A String",
        ],
        "accountId": "A String", # GTM Account ID.
        "teardownTag": [ # The list of teardown tags. Currently we only allow one.
          { # Represents a tag that fires after another tag in order to tear down dependencies.
            "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
            "tagName": "A String", # The name of the teardown tag.
          },
        ],
        "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "workspaceId": "A String", # GTM Workspace ID.
        "parameter": [ # The tag's parameters.
          { # Represents a Google Tag Manager Parameter.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
        ],
        "parentFolderId": "A String", # Parent folder id.
        "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
        "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
        "containerId": "A String", # GTM Container ID.
        "tagFiringOption": "A String", # Option to fire this tag.
        "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
        "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
          "A String",
        ],
        "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
        "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
        "path": "A String", # GTM Tag's API relative path.
        "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
          "A String",
        ],
        "name": "A String", # Tag display name.
        "type": "A String", # GTM Tag Type.
        "notes": "A String", # User notes on how to apply this tag in the container.
        "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
        "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
          "A String",
        ],
      },
    ],
  }</pre>
</div>

<div class="method">
    <code class="details" id="list_next">list_next(previous_request, previous_response)</code>
  <pre>Retrieves the next page of results.

Args:
  previous_request: The request for the previous page. (required)
  previous_response: The response from the request for the previous page. (required)

Returns:
  A request object that you can call 'execute()' on to request the next
  page. Returns None if there are no more items in the collection.
    </pre>
</div>

<div class="method">
    <code class="details" id="revert">revert(path, fingerprint=None)</code>
  <pre>Reverts changes to a GTM Tag in a GTM Workspace.

Args:
  path: string, GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id} (required)
  fingerprint: string, When provided, this fingerprint must match the fingerprint of thetag in storage.

Returns:
  An object of the form:

    { # The result of reverting a tag in a workspace.
    "tag": { # Represents a Google Tag Manager Tag. # Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version.
      "paused": True or False, # Indicates whether the tag is paused, which prevents the tag from firing.
      "setupTag": [ # The list of setup tags. Currently we only allow one.
        { # Represents a reference to atag that fires before another tag in order to set up dependencies.
          "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
          "tagName": "A String", # The name of the setup tag.
        },
      ],
      "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
        "A String",
      ],
      "accountId": "A String", # GTM Account ID.
      "teardownTag": [ # The list of teardown tags. Currently we only allow one.
        { # Represents a tag that fires after another tag in order to tear down dependencies.
          "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
          "tagName": "A String", # The name of the teardown tag.
        },
      ],
      "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "workspaceId": "A String", # GTM Workspace ID.
      "parameter": [ # The tag's parameters.
        { # Represents a Google Tag Manager Parameter.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
      ],
      "parentFolderId": "A String", # Parent folder id.
      "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
      "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
      "containerId": "A String", # GTM Container ID.
      "tagFiringOption": "A String", # Option to fire this tag.
      "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
      "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
        "A String",
      ],
      "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
      "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
      "path": "A String", # GTM Tag's API relative path.
      "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
        "A String",
      ],
      "name": "A String", # Tag display name.
      "type": "A String", # GTM Tag Type.
      "notes": "A String", # User notes on how to apply this tag in the container.
      "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
      "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
        "A String",
      ],
    },
  }</pre>
</div>

<div class="method">
    <code class="details" id="update">update(path, body, fingerprint=None)</code>
  <pre>Updates a GTM Tag.

Args:
  path: string, GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id} (required)
  body: object, The request body. (required)
    The object takes the form of:

{ # Represents a Google Tag Manager Tag.
  "paused": True or False, # Indicates whether the tag is paused, which prevents the tag from firing.
  "setupTag": [ # The list of setup tags. Currently we only allow one.
    { # Represents a reference to atag that fires before another tag in order to set up dependencies.
      "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
      "tagName": "A String", # The name of the setup tag.
    },
  ],
  "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
    "A String",
  ],
  "accountId": "A String", # GTM Account ID.
  "teardownTag": [ # The list of teardown tags. Currently we only allow one.
    { # Represents a tag that fires after another tag in order to tear down dependencies.
      "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
      "tagName": "A String", # The name of the teardown tag.
    },
  ],
  "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
    "map": [ # This map parameter's parameters (must have keys; keys must be unique).
      # Object with schema name: Parameter
    ],
    "list": [ # This list parameter's parameters (keys will be ignored).
      # Object with schema name: Parameter
    ],
    "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
    "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
    "type": "A String", # The parameter type. Valid values are:
        # - boolean: The value represents a boolean, represented as 'true' or 'false'
        # - integer: The value represents a 64-bit signed integer value, in base 10
        # - list: A list of parameters should be specified
        # - map: A map of parameters should be specified
        # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
        # - trigger_reference: The value represents a trigger, represented as the trigger id
  },
  "workspaceId": "A String", # GTM Workspace ID.
  "parameter": [ # The tag's parameters.
    { # Represents a Google Tag Manager Parameter.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  ],
  "parentFolderId": "A String", # Parent folder id.
  "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
  "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
  "containerId": "A String", # GTM Container ID.
  "tagFiringOption": "A String", # Option to fire this tag.
  "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
  "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
    "A String",
  ],
  "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
  "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
  "path": "A String", # GTM Tag's API relative path.
  "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
    "A String",
  ],
  "name": "A String", # Tag display name.
  "type": "A String", # GTM Tag Type.
  "notes": "A String", # User notes on how to apply this tag in the container.
  "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
  "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
    "A String",
  ],
}

  fingerprint: string, When provided, this fingerprint must match the fingerprint of the tag in storage.

Returns:
  An object of the form:

    { # Represents a Google Tag Manager Tag.
    "paused": True or False, # Indicates whether the tag is paused, which prevents the tag from firing.
    "setupTag": [ # The list of setup tags. Currently we only allow one.
      { # Represents a reference to atag that fires before another tag in order to set up dependencies.
        "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
        "tagName": "A String", # The name of the setup tag.
      },
    ],
    "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
      "A String",
    ],
    "accountId": "A String", # GTM Account ID.
    "teardownTag": [ # The list of teardown tags. Currently we only allow one.
      { # Represents a tag that fires after another tag in order to tear down dependencies.
        "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
        "tagName": "A String", # The name of the teardown tag.
      },
    ],
    "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "workspaceId": "A String", # GTM Workspace ID.
    "parameter": [ # The tag's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "parentFolderId": "A String", # Parent folder id.
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
    "containerId": "A String", # GTM Container ID.
    "tagFiringOption": "A String", # Option to fire this tag.
    "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
    "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
      "A String",
    ],
    "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
    "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
    "path": "A String", # GTM Tag's API relative path.
    "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
      "A String",
    ],
    "name": "A String", # Tag display name.
    "type": "A String", # GTM Tag Type.
    "notes": "A String", # User notes on how to apply this tag in the container.
    "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
    "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
      "A String",
    ],
  }</pre>
</div>

</body></html>