<html><body>
<style>

body, h1, h2, h3, div, span, p, pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-size: 13px;
  padding: 1em;
}

h1 {
  font-size: 26px;
  margin-bottom: 1em;
}

h2 {
  font-size: 24px;
  margin-bottom: 1em;
}

h3 {
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

pre, code {
  line-height: 1.5;
  font-family: Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

pre {
  margin-top: 0.5em;
}

h1, h2, h3, p {
  font-family: Arial, sans serif;
}

h1, h2, h3 {
  border-bottom: solid #CCC 1px;
}

.toc_element {
  margin-top: 0.5em;
}

.firstline {
  margin-left: 2 em;
}

.method  {
  margin-top: 1em;
  border: solid 1px #CCC;
  padding: 1em;
  background: #EEE;
}

.details {
  font-weight: bold;
  font-size: 14px;
}

</style>

<h1><a href="tagmanager_v1.html">Tag Manager API</a> . <a href="tagmanager_v1.accounts.html">accounts</a> . <a href="tagmanager_v1.accounts.containers.html">containers</a> . <a href="tagmanager_v1.accounts.containers.folders.html">folders</a> . <a href="tagmanager_v1.accounts.containers.folders.entities.html">entities</a></h1>
<h2>Instance Methods</h2>
<p class="toc_element">
  <code><a href="#list">list(accountId, containerId, folderId)</a></code></p>
<p class="firstline">List all entities in a GTM Folder.</p>
<h3>Method Details</h3>
<div class="method">
    <code class="details" id="list">list(accountId, containerId, folderId)</code>
  <pre>List all entities in a GTM Folder.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)
  folderId: string, The GTM Folder ID. (required)

Returns:
  An object of the form:

    { # Represents a Google Tag Manager Folder's contents.
    "variable": [ # The list of variables inside the folder.
      { # Represents a Google Tag Manager Variable.
        "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
        "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
        "name": "A String", # Variable display name.
        "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
        "type": "A String", # GTM Variable Type.
        "notes": "A String", # User notes on how to apply this variable in the container.
        "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
          "A String",
        ],
        "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
        "accountId": "A String", # GTM Account ID.
        "parameter": [ # The variable's parameters.
          { # Represents a Google Tag Manager Parameter.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
        ],
        "parentFolderId": "A String", # Parent folder id.
        "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
          "A String",
        ],
        "containerId": "A String", # GTM Container ID.
      },
    ],
    "trigger": [ # The list of triggers inside the folder.
      { # Represents a Google Tag Manager Trigger
        "maxTimerLengthSeconds": { # Represents a Google Tag Manager Parameter. # Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "totalTimeMinMilliseconds": { # Represents a Google Tag Manager Parameter. # A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "uniqueTriggerId": { # Represents a Google Tag Manager Parameter. # Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "verticalScrollPercentageList": { # Represents a Google Tag Manager Parameter. # List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "horizontalScrollPercentageList": { # Represents a Google Tag Manager Parameter. # List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "containerId": "A String", # GTM Container ID.
        "accountId": "A String", # GTM Account ID.
        "waitForTags": { # Represents a Google Tag Manager Parameter. # Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "intervalSeconds": { # Represents a Google Tag Manager Parameter. # Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "eventName": { # Represents a Google Tag Manager Parameter. # Name of the GTM event that is fired. Only valid for Timer triggers.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "visibilitySelector": { # Represents a Google Tag Manager Parameter. # A visibility trigger CSS selector (i.e. "#id"). Only valid for AMP Visibility trigger.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "customEventFilter": [ # Used in the case of custom event, which is fired iff all Conditions are true.
          { # Represents a predicate.
            "type": "A String", # The type of operator for this condition.
            "parameter": [ # A list of named parameters (key/value), depending on the condition's type. Notes:
                # - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively.
                # - At this time, the left operand (arg0) must be a reference to a variable.
                # - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive.
                # - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true.
              { # Represents a Google Tag Manager Parameter.
                "map": [ # This map parameter's parameters (must have keys; keys must be unique).
                  # Object with schema name: Parameter
                ],
                "list": [ # This list parameter's parameters (keys will be ignored).
                  # Object with schema name: Parameter
                ],
                "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
                "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
                "type": "A String", # The parameter type. Valid values are:
                    # - boolean: The value represents a boolean, represented as 'true' or 'false'
                    # - integer: The value represents a 64-bit signed integer value, in base 10
                    # - list: A list of parameters should be specified
                    # - map: A map of parameters should be specified
                    # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                    # - trigger_reference: The value represents a trigger, represented as the trigger id
              },
            ],
          },
        ],
        "type": "A String", # Defines the data layer event that causes this trigger.
        "parentFolderId": "A String", # Parent folder id.
        "continuousTimeMinMilliseconds": { # Represents a Google Tag Manager Parameter. # A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "selector": { # Represents a Google Tag Manager Parameter. # A click trigger CSS selector (i.e. "a", "button" etc.). Only valid for AMP Click trigger.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "triggerId": "A String", # The Trigger ID uniquely identifies the GTM Trigger.
        "waitForTagsTimeout": { # Represents a Google Tag Manager Parameter. # How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "fingerprint": "A String", # The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.
        "visiblePercentageMax": { # Represents a Google Tag Manager Parameter. # A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "name": "A String", # Trigger display name.
        "visiblePercentageMin": { # Represents a Google Tag Manager Parameter. # A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "parameter": [ # Additional parameters.
          { # Represents a Google Tag Manager Parameter.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
        ],
        "interval": { # Represents a Google Tag Manager Parameter. # Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "filter": [ # The trigger will only fire iff all Conditions are true.
          { # Represents a predicate.
            "type": "A String", # The type of operator for this condition.
            "parameter": [ # A list of named parameters (key/value), depending on the condition's type. Notes:
                # - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively.
                # - At this time, the left operand (arg0) must be a reference to a variable.
                # - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive.
                # - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true.
              { # Represents a Google Tag Manager Parameter.
                "map": [ # This map parameter's parameters (must have keys; keys must be unique).
                  # Object with schema name: Parameter
                ],
                "list": [ # This list parameter's parameters (keys will be ignored).
                  # Object with schema name: Parameter
                ],
                "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
                "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
                "type": "A String", # The parameter type. Valid values are:
                    # - boolean: The value represents a boolean, represented as 'true' or 'false'
                    # - integer: The value represents a 64-bit signed integer value, in base 10
                    # - list: A list of parameters should be specified
                    # - map: A map of parameters should be specified
                    # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                    # - trigger_reference: The value represents a trigger, represented as the trigger id
              },
            ],
          },
        ],
        "autoEventFilter": [ # Used in the case of auto event tracking.
          { # Represents a predicate.
            "type": "A String", # The type of operator for this condition.
            "parameter": [ # A list of named parameters (key/value), depending on the condition's type. Notes:
                # - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively.
                # - At this time, the left operand (arg0) must be a reference to a variable.
                # - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive.
                # - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true.
              { # Represents a Google Tag Manager Parameter.
                "map": [ # This map parameter's parameters (must have keys; keys must be unique).
                  # Object with schema name: Parameter
                ],
                "list": [ # This list parameter's parameters (keys will be ignored).
                  # Object with schema name: Parameter
                ],
                "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
                "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
                "type": "A String", # The parameter type. Valid values are:
                    # - boolean: The value represents a boolean, represented as 'true' or 'false'
                    # - integer: The value represents a 64-bit signed integer value, in base 10
                    # - list: A list of parameters should be specified
                    # - map: A map of parameters should be specified
                    # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                    # - trigger_reference: The value represents a trigger, represented as the trigger id
              },
            ],
          },
        ],
        "limit": { # Represents a Google Tag Manager Parameter. # Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "checkValidation": { # Represents a Google Tag Manager Parameter. # Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
      },
    ],
    "tag": [ # The list of tags inside the folder.
      { # Represents a Google Tag Manager Tag.
        "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
        "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
        "type": "A String", # GTM Tag Type.
        "containerId": "A String", # GTM Container ID.
        "tagFiringOption": "A String", # Option to fire this tag.
        "notes": "A String", # User notes on how to apply this tag in the container.
        "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
        "parentFolderId": "A String", # Parent folder id.
        "name": "A String", # Tag display name.
        "paused": True or False, # True if the tag is paused.
        "setupTag": [ # The list of setup tags. Currently we only allow one.
          {
            "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
            "tagName": "A String", # The name of the setup tag.
          },
        ],
        "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
          "A String",
        ],
        "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
        "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
        "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
          "A String",
        ],
        "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
          "A String",
        ],
        "parameter": [ # The tag's parameters.
          { # Represents a Google Tag Manager Parameter.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
        ],
        "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
          "A String",
        ],
        "teardownTag": [ # The list of teardown tags. Currently we only allow one.
          {
            "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
            "tagName": "A String", # The name of the teardown tag.
          },
        ],
        "accountId": "A String", # GTM Account ID.
      },
    ],
  }</pre>
</div>

</body></html>