<html><body>
<style>

body, h1, h2, h3, div, span, p, pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-size: 13px;
  padding: 1em;
}

h1 {
  font-size: 26px;
  margin-bottom: 1em;
}

h2 {
  font-size: 24px;
  margin-bottom: 1em;
}

h3 {
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

pre, code {
  line-height: 1.5;
  font-family: Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

pre {
  margin-top: 0.5em;
}

h1, h2, h3, p {
  font-family: Arial, sans serif;
}

h1, h2, h3 {
  border-bottom: solid #CCC 1px;
}

.toc_element {
  margin-top: 0.5em;
}

.firstline {
  margin-left: 2 em;
}

.method  {
  margin-top: 1em;
  border: solid 1px #CCC;
  padding: 1em;
  background: #EEE;
}

.details {
  font-weight: bold;
  font-size: 14px;
}

</style>

<h1><a href="tagmanager_v1.html">Tag Manager API</a> . <a href="tagmanager_v1.accounts.html">accounts</a> . <a href="tagmanager_v1.accounts.containers.html">containers</a> . <a href="tagmanager_v1.accounts.containers.variables.html">variables</a></h1>
<h2>Instance Methods</h2>
<p class="toc_element">
  <code><a href="#create">create(accountId, containerId, body)</a></code></p>
<p class="firstline">Creates a GTM Variable.</p>
<p class="toc_element">
  <code><a href="#delete">delete(accountId, containerId, variableId)</a></code></p>
<p class="firstline">Deletes a GTM Variable.</p>
<p class="toc_element">
  <code><a href="#get">get(accountId, containerId, variableId)</a></code></p>
<p class="firstline">Gets a GTM Variable.</p>
<p class="toc_element">
  <code><a href="#list">list(accountId, containerId)</a></code></p>
<p class="firstline">Lists all GTM Variables of a Container.</p>
<p class="toc_element">
  <code><a href="#update">update(accountId, containerId, variableId, body, fingerprint=None)</a></code></p>
<p class="firstline">Updates a GTM Variable.</p>
<h3>Method Details</h3>
<div class="method">
    <code class="details" id="create">create(accountId, containerId, body)</code>
  <pre>Creates a GTM Variable.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)
  body: object, The request body. (required)
    The object takes the form of:

{ # Represents a Google Tag Manager Variable.
  "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
  "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
  "name": "A String", # Variable display name.
  "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
  "type": "A String", # GTM Variable Type.
  "notes": "A String", # User notes on how to apply this variable in the container.
  "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
    "A String",
  ],
  "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
  "accountId": "A String", # GTM Account ID.
  "parameter": [ # The variable's parameters.
    { # Represents a Google Tag Manager Parameter.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  ],
  "parentFolderId": "A String", # Parent folder id.
  "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
    "A String",
  ],
  "containerId": "A String", # GTM Container ID.
}


Returns:
  An object of the form:

    { # Represents a Google Tag Manager Variable.
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
    "name": "A String", # Variable display name.
    "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
    "type": "A String", # GTM Variable Type.
    "notes": "A String", # User notes on how to apply this variable in the container.
    "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
      "A String",
    ],
    "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
    "accountId": "A String", # GTM Account ID.
    "parameter": [ # The variable's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "parentFolderId": "A String", # Parent folder id.
    "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
      "A String",
    ],
    "containerId": "A String", # GTM Container ID.
  }</pre>
</div>

<div class="method">
    <code class="details" id="delete">delete(accountId, containerId, variableId)</code>
  <pre>Deletes a GTM Variable.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)
  variableId: string, The GTM Variable ID. (required)
</pre>
</div>

<div class="method">
    <code class="details" id="get">get(accountId, containerId, variableId)</code>
  <pre>Gets a GTM Variable.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)
  variableId: string, The GTM Variable ID. (required)

Returns:
  An object of the form:

    { # Represents a Google Tag Manager Variable.
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
    "name": "A String", # Variable display name.
    "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
    "type": "A String", # GTM Variable Type.
    "notes": "A String", # User notes on how to apply this variable in the container.
    "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
      "A String",
    ],
    "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
    "accountId": "A String", # GTM Account ID.
    "parameter": [ # The variable's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "parentFolderId": "A String", # Parent folder id.
    "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
      "A String",
    ],
    "containerId": "A String", # GTM Container ID.
  }</pre>
</div>

<div class="method">
    <code class="details" id="list">list(accountId, containerId)</code>
  <pre>Lists all GTM Variables of a Container.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)

Returns:
  An object of the form:

    { # List Variables Response.
    "variables": [ # All GTM Variables of a GTM Container.
      { # Represents a Google Tag Manager Variable.
        "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
        "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
        "name": "A String", # Variable display name.
        "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
        "type": "A String", # GTM Variable Type.
        "notes": "A String", # User notes on how to apply this variable in the container.
        "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
          "A String",
        ],
        "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
        "accountId": "A String", # GTM Account ID.
        "parameter": [ # The variable's parameters.
          { # Represents a Google Tag Manager Parameter.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
        ],
        "parentFolderId": "A String", # Parent folder id.
        "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
          "A String",
        ],
        "containerId": "A String", # GTM Container ID.
      },
    ],
  }</pre>
</div>

<div class="method">
    <code class="details" id="update">update(accountId, containerId, variableId, body, fingerprint=None)</code>
  <pre>Updates a GTM Variable.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)
  variableId: string, The GTM Variable ID. (required)
  body: object, The request body. (required)
    The object takes the form of:

{ # Represents a Google Tag Manager Variable.
  "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
  "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
  "name": "A String", # Variable display name.
  "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
  "type": "A String", # GTM Variable Type.
  "notes": "A String", # User notes on how to apply this variable in the container.
  "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
    "A String",
  ],
  "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
  "accountId": "A String", # GTM Account ID.
  "parameter": [ # The variable's parameters.
    { # Represents a Google Tag Manager Parameter.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  ],
  "parentFolderId": "A String", # Parent folder id.
  "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
    "A String",
  ],
  "containerId": "A String", # GTM Container ID.
}

  fingerprint: string, When provided, this fingerprint must match the fingerprint of the variable in storage.

Returns:
  An object of the form:

    { # Represents a Google Tag Manager Variable.
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
    "name": "A String", # Variable display name.
    "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
    "type": "A String", # GTM Variable Type.
    "notes": "A String", # User notes on how to apply this variable in the container.
    "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
      "A String",
    ],
    "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
    "accountId": "A String", # GTM Account ID.
    "parameter": [ # The variable's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "parentFolderId": "A String", # Parent folder id.
    "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
      "A String",
    ],
    "containerId": "A String", # GTM Container ID.
  }</pre>
</div>

</body></html>