<html><body>
<style>

body, h1, h2, h3, div, span, p, pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-size: 13px;
  padding: 1em;
}

h1 {
  font-size: 26px;
  margin-bottom: 1em;
}

h2 {
  font-size: 24px;
  margin-bottom: 1em;
}

h3 {
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

pre, code {
  line-height: 1.5;
  font-family: Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

pre {
  margin-top: 0.5em;
}

h1, h2, h3, p {
  font-family: Arial, sans serif;
}

h1, h2, h3 {
  border-bottom: solid #CCC 1px;
}

.toc_element {
  margin-top: 0.5em;
}

.firstline {
  margin-left: 2 em;
}

.method  {
  margin-top: 1em;
  border: solid 1px #CCC;
  padding: 1em;
  background: #EEE;
}

.details {
  font-weight: bold;
  font-size: 14px;
}

</style>

<h1><a href="tagmanager_v2.html">Tag Manager API</a> . <a href="tagmanager_v2.accounts.html">accounts</a> . <a href="tagmanager_v2.accounts.containers.html">containers</a> . <a href="tagmanager_v2.accounts.containers.workspaces.html">workspaces</a> . <a href="tagmanager_v2.accounts.containers.workspaces.variables.html">variables</a></h1>
<h2>Instance Methods</h2>
<p class="toc_element">
  <code><a href="#create">create(parent, body)</a></code></p>
<p class="firstline">Creates a GTM Variable.</p>
<p class="toc_element">
  <code><a href="#delete">delete(path)</a></code></p>
<p class="firstline">Deletes a GTM Variable.</p>
<p class="toc_element">
  <code><a href="#get">get(path)</a></code></p>
<p class="firstline">Gets a GTM Variable.</p>
<p class="toc_element">
  <code><a href="#list">list(parent, pageToken=None)</a></code></p>
<p class="firstline">Lists all GTM Variables of a Container.</p>
<p class="toc_element">
  <code><a href="#list_next">list_next(previous_request, previous_response)</a></code></p>
<p class="firstline">Retrieves the next page of results.</p>
<p class="toc_element">
  <code><a href="#revert">revert(path, fingerprint=None)</a></code></p>
<p class="firstline">Reverts changes to a GTM Variable in a GTM Workspace.</p>
<p class="toc_element">
  <code><a href="#update">update(path, body, fingerprint=None)</a></code></p>
<p class="firstline">Updates a GTM Variable.</p>
<h3>Method Details</h3>
<div class="method">
    <code class="details" id="create">create(parent, body)</code>
  <pre>Creates a GTM Variable.

Args:
  parent: string, GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id} (required)
  body: object, The request body. (required)
    The object takes the form of:

{ # Represents a Google Tag Manager Variable.
  "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
  "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
  "containerId": "A String", # GTM Container ID.
  "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
  "type": "A String", # GTM Variable Type.
  "notes": "A String", # User notes on how to apply this variable in the container.
  "formatValue": { # Option to convert a variable value to other value.
    "convertUndefinedToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is undefined.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "convertFalseToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is false.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "convertNullToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is null.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "caseConversionType": "A String", # The option to convert a string-type variable value to either lowercase or uppercase.
    "convertTrueToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is true.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  },
  "name": "A String", # Variable display name.
  "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
    "A String",
  ],
  "workspaceId": "A String", # GTM Workspace ID.
  "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
  "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
  "path": "A String", # GTM Variable's API relative path.
  "parameter": [ # The variable's parameters.
    { # Represents a Google Tag Manager Parameter.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  ],
  "parentFolderId": "A String", # Parent folder id.
  "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
    "A String",
  ],
  "accountId": "A String", # GTM Account ID.
}


Returns:
  An object of the form:

    { # Represents a Google Tag Manager Variable.
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
    "containerId": "A String", # GTM Container ID.
    "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
    "type": "A String", # GTM Variable Type.
    "notes": "A String", # User notes on how to apply this variable in the container.
    "formatValue": { # Option to convert a variable value to other value.
      "convertUndefinedToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is undefined.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "convertFalseToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is false.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "convertNullToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is null.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "caseConversionType": "A String", # The option to convert a string-type variable value to either lowercase or uppercase.
      "convertTrueToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is true.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    },
    "name": "A String", # Variable display name.
    "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
      "A String",
    ],
    "workspaceId": "A String", # GTM Workspace ID.
    "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
    "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
    "path": "A String", # GTM Variable's API relative path.
    "parameter": [ # The variable's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "parentFolderId": "A String", # Parent folder id.
    "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
      "A String",
    ],
    "accountId": "A String", # GTM Account ID.
  }</pre>
</div>

<div class="method">
    <code class="details" id="delete">delete(path)</code>
  <pre>Deletes a GTM Variable.

Args:
  path: string, GTM Variable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id} (required)
</pre>
</div>

<div class="method">
    <code class="details" id="get">get(path)</code>
  <pre>Gets a GTM Variable.

Args:
  path: string, GTM Variable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id} (required)

Returns:
  An object of the form:

    { # Represents a Google Tag Manager Variable.
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
    "containerId": "A String", # GTM Container ID.
    "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
    "type": "A String", # GTM Variable Type.
    "notes": "A String", # User notes on how to apply this variable in the container.
    "formatValue": { # Option to convert a variable value to other value.
      "convertUndefinedToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is undefined.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "convertFalseToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is false.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "convertNullToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is null.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "caseConversionType": "A String", # The option to convert a string-type variable value to either lowercase or uppercase.
      "convertTrueToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is true.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    },
    "name": "A String", # Variable display name.
    "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
      "A String",
    ],
    "workspaceId": "A String", # GTM Workspace ID.
    "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
    "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
    "path": "A String", # GTM Variable's API relative path.
    "parameter": [ # The variable's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "parentFolderId": "A String", # Parent folder id.
    "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
      "A String",
    ],
    "accountId": "A String", # GTM Account ID.
  }</pre>
</div>

<div class="method">
    <code class="details" id="list">list(parent, pageToken=None)</code>
  <pre>Lists all GTM Variables of a Container.

Args:
  parent: string, GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id} (required)
  pageToken: string, Continuation token for fetching the next page of results.

Returns:
  An object of the form:

    { # List Variables Response.
    "nextPageToken": "A String", # Continuation token for fetching the next page of results.
    "variable": [ # All GTM Variables of a GTM Container.
      { # Represents a Google Tag Manager Variable.
        "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
        "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
        "containerId": "A String", # GTM Container ID.
        "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
        "type": "A String", # GTM Variable Type.
        "notes": "A String", # User notes on how to apply this variable in the container.
        "formatValue": { # Option to convert a variable value to other value.
          "convertUndefinedToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is undefined.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
          "convertFalseToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is false.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
          "convertNullToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is null.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
          "caseConversionType": "A String", # The option to convert a string-type variable value to either lowercase or uppercase.
          "convertTrueToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is true.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
        },
        "name": "A String", # Variable display name.
        "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
          "A String",
        ],
        "workspaceId": "A String", # GTM Workspace ID.
        "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
        "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
        "path": "A String", # GTM Variable's API relative path.
        "parameter": [ # The variable's parameters.
          { # Represents a Google Tag Manager Parameter.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
        ],
        "parentFolderId": "A String", # Parent folder id.
        "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
          "A String",
        ],
        "accountId": "A String", # GTM Account ID.
      },
    ],
  }</pre>
</div>

<div class="method">
    <code class="details" id="list_next">list_next(previous_request, previous_response)</code>
  <pre>Retrieves the next page of results.

Args:
  previous_request: The request for the previous page. (required)
  previous_response: The response from the request for the previous page. (required)

Returns:
  A request object that you can call 'execute()' on to request the next
  page. Returns None if there are no more items in the collection.
    </pre>
</div>

<div class="method">
    <code class="details" id="revert">revert(path, fingerprint=None)</code>
  <pre>Reverts changes to a GTM Variable in a GTM Workspace.

Args:
  path: string, GTM Variable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id} (required)
  fingerprint: string, When provided, this fingerprint must match the fingerprint of the variable in storage.

Returns:
  An object of the form:

    { # The result of reverting a variable in a workspace.
    "variable": { # Represents a Google Tag Manager Variable. # Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version.
      "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
      "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
      "containerId": "A String", # GTM Container ID.
      "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
      "type": "A String", # GTM Variable Type.
      "notes": "A String", # User notes on how to apply this variable in the container.
      "formatValue": { # Option to convert a variable value to other value.
        "convertUndefinedToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is undefined.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "convertFalseToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is false.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "convertNullToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is null.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "caseConversionType": "A String", # The option to convert a string-type variable value to either lowercase or uppercase.
        "convertTrueToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is true.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
      },
      "name": "A String", # Variable display name.
      "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
        "A String",
      ],
      "workspaceId": "A String", # GTM Workspace ID.
      "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
      "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
      "path": "A String", # GTM Variable's API relative path.
      "parameter": [ # The variable's parameters.
        { # Represents a Google Tag Manager Parameter.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
      ],
      "parentFolderId": "A String", # Parent folder id.
      "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
        "A String",
      ],
      "accountId": "A String", # GTM Account ID.
    },
  }</pre>
</div>

<div class="method">
    <code class="details" id="update">update(path, body, fingerprint=None)</code>
  <pre>Updates a GTM Variable.

Args:
  path: string, GTM Variable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id} (required)
  body: object, The request body. (required)
    The object takes the form of:

{ # Represents a Google Tag Manager Variable.
  "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
  "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
  "containerId": "A String", # GTM Container ID.
  "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
  "type": "A String", # GTM Variable Type.
  "notes": "A String", # User notes on how to apply this variable in the container.
  "formatValue": { # Option to convert a variable value to other value.
    "convertUndefinedToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is undefined.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "convertFalseToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is false.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "convertNullToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is null.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "caseConversionType": "A String", # The option to convert a string-type variable value to either lowercase or uppercase.
    "convertTrueToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is true.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  },
  "name": "A String", # Variable display name.
  "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
    "A String",
  ],
  "workspaceId": "A String", # GTM Workspace ID.
  "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
  "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
  "path": "A String", # GTM Variable's API relative path.
  "parameter": [ # The variable's parameters.
    { # Represents a Google Tag Manager Parameter.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  ],
  "parentFolderId": "A String", # Parent folder id.
  "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
    "A String",
  ],
  "accountId": "A String", # GTM Account ID.
}

  fingerprint: string, When provided, this fingerprint must match the fingerprint of the variable in storage.

Returns:
  An object of the form:

    { # Represents a Google Tag Manager Variable.
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a variable.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a variable.
    "containerId": "A String", # GTM Container ID.
    "variableId": "A String", # The Variable ID uniquely identifies the GTM Variable.
    "type": "A String", # GTM Variable Type.
    "notes": "A String", # User notes on how to apply this variable in the container.
    "formatValue": { # Option to convert a variable value to other value.
      "convertUndefinedToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is undefined.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "convertFalseToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is false.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "convertNullToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is null.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
      "caseConversionType": "A String", # The option to convert a string-type variable value to either lowercase or uppercase.
      "convertTrueToValue": { # Represents a Google Tag Manager Parameter. # The value to convert if a variable value is true.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    },
    "name": "A String", # Variable display name.
    "enablingTriggerId": [ # For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.
      "A String",
    ],
    "workspaceId": "A String", # GTM Workspace ID.
    "tagManagerUrl": "A String", # Auto generated link to the tag manager UI
    "fingerprint": "A String", # The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.
    "path": "A String", # GTM Variable's API relative path.
    "parameter": [ # The variable's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "parentFolderId": "A String", # Parent folder id.
    "disablingTriggerId": [ # For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.
      "A String",
    ],
    "accountId": "A String", # GTM Account ID.
  }</pre>
</div>

</body></html>