<html><body>
<style>

body, h1, h2, h3, div, span, p, pre, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-size: 13px;
  padding: 1em;
}

h1 {
  font-size: 26px;
  margin-bottom: 1em;
}

h2 {
  font-size: 24px;
  margin-bottom: 1em;
}

h3 {
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

pre, code {
  line-height: 1.5;
  font-family: Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

pre {
  margin-top: 0.5em;
}

h1, h2, h3, p {
  font-family: Arial, sans serif;
}

h1, h2, h3 {
  border-bottom: solid #CCC 1px;
}

.toc_element {
  margin-top: 0.5em;
}

.firstline {
  margin-left: 2 em;
}

.method  {
  margin-top: 1em;
  border: solid 1px #CCC;
  padding: 1em;
  background: #EEE;
}

.details {
  font-weight: bold;
  font-size: 14px;
}

</style>

<h1><a href="tagmanager_v1.html">Tag Manager API</a> . <a href="tagmanager_v1.accounts.html">accounts</a> . <a href="tagmanager_v1.accounts.containers.html">containers</a> . <a href="tagmanager_v1.accounts.containers.tags.html">tags</a></h1>
<h2>Instance Methods</h2>
<p class="toc_element">
  <code><a href="#create">create(accountId, containerId, body)</a></code></p>
<p class="firstline">Creates a GTM Tag.</p>
<p class="toc_element">
  <code><a href="#delete">delete(accountId, containerId, tagId)</a></code></p>
<p class="firstline">Deletes a GTM Tag.</p>
<p class="toc_element">
  <code><a href="#get">get(accountId, containerId, tagId)</a></code></p>
<p class="firstline">Gets a GTM Tag.</p>
<p class="toc_element">
  <code><a href="#list">list(accountId, containerId)</a></code></p>
<p class="firstline">Lists all GTM Tags of a Container.</p>
<p class="toc_element">
  <code><a href="#update">update(accountId, containerId, tagId, body, fingerprint=None)</a></code></p>
<p class="firstline">Updates a GTM Tag.</p>
<h3>Method Details</h3>
<div class="method">
    <code class="details" id="create">create(accountId, containerId, body)</code>
  <pre>Creates a GTM Tag.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)
  body: object, The request body. (required)
    The object takes the form of:

{ # Represents a Google Tag Manager Tag.
  "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
    "map": [ # This map parameter's parameters (must have keys; keys must be unique).
      # Object with schema name: Parameter
    ],
    "list": [ # This list parameter's parameters (keys will be ignored).
      # Object with schema name: Parameter
    ],
    "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
    "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
    "type": "A String", # The parameter type. Valid values are:
        # - boolean: The value represents a boolean, represented as 'true' or 'false'
        # - integer: The value represents a 64-bit signed integer value, in base 10
        # - list: A list of parameters should be specified
        # - map: A map of parameters should be specified
        # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
        # - trigger_reference: The value represents a trigger, represented as the trigger id
  },
  "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
  "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
  "type": "A String", # GTM Tag Type.
  "containerId": "A String", # GTM Container ID.
  "tagFiringOption": "A String", # Option to fire this tag.
  "notes": "A String", # User notes on how to apply this tag in the container.
  "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
  "parentFolderId": "A String", # Parent folder id.
  "name": "A String", # Tag display name.
  "paused": True or False, # True if the tag is paused.
  "setupTag": [ # The list of setup tags. Currently we only allow one.
    {
      "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
      "tagName": "A String", # The name of the setup tag.
    },
  ],
  "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
    "A String",
  ],
  "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
  "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
  "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
    "A String",
  ],
  "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
    "A String",
  ],
  "parameter": [ # The tag's parameters.
    { # Represents a Google Tag Manager Parameter.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  ],
  "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
    "A String",
  ],
  "teardownTag": [ # The list of teardown tags. Currently we only allow one.
    {
      "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
      "tagName": "A String", # The name of the teardown tag.
    },
  ],
  "accountId": "A String", # GTM Account ID.
}


Returns:
  An object of the form:

    { # Represents a Google Tag Manager Tag.
    "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
    "type": "A String", # GTM Tag Type.
    "containerId": "A String", # GTM Container ID.
    "tagFiringOption": "A String", # Option to fire this tag.
    "notes": "A String", # User notes on how to apply this tag in the container.
    "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
    "parentFolderId": "A String", # Parent folder id.
    "name": "A String", # Tag display name.
    "paused": True or False, # True if the tag is paused.
    "setupTag": [ # The list of setup tags. Currently we only allow one.
      {
        "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
        "tagName": "A String", # The name of the setup tag.
      },
    ],
    "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
      "A String",
    ],
    "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
    "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
    "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
      "A String",
    ],
    "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
      "A String",
    ],
    "parameter": [ # The tag's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
      "A String",
    ],
    "teardownTag": [ # The list of teardown tags. Currently we only allow one.
      {
        "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
        "tagName": "A String", # The name of the teardown tag.
      },
    ],
    "accountId": "A String", # GTM Account ID.
  }</pre>
</div>

<div class="method">
    <code class="details" id="delete">delete(accountId, containerId, tagId)</code>
  <pre>Deletes a GTM Tag.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)
  tagId: string, The GTM Tag ID. (required)
</pre>
</div>

<div class="method">
    <code class="details" id="get">get(accountId, containerId, tagId)</code>
  <pre>Gets a GTM Tag.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)
  tagId: string, The GTM Tag ID. (required)

Returns:
  An object of the form:

    { # Represents a Google Tag Manager Tag.
    "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
    "type": "A String", # GTM Tag Type.
    "containerId": "A String", # GTM Container ID.
    "tagFiringOption": "A String", # Option to fire this tag.
    "notes": "A String", # User notes on how to apply this tag in the container.
    "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
    "parentFolderId": "A String", # Parent folder id.
    "name": "A String", # Tag display name.
    "paused": True or False, # True if the tag is paused.
    "setupTag": [ # The list of setup tags. Currently we only allow one.
      {
        "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
        "tagName": "A String", # The name of the setup tag.
      },
    ],
    "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
      "A String",
    ],
    "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
    "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
    "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
      "A String",
    ],
    "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
      "A String",
    ],
    "parameter": [ # The tag's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
      "A String",
    ],
    "teardownTag": [ # The list of teardown tags. Currently we only allow one.
      {
        "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
        "tagName": "A String", # The name of the teardown tag.
      },
    ],
    "accountId": "A String", # GTM Account ID.
  }</pre>
</div>

<div class="method">
    <code class="details" id="list">list(accountId, containerId)</code>
  <pre>Lists all GTM Tags of a Container.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)

Returns:
  An object of the form:

    { # List Tags Response.
    "tags": [ # All GTM Tags of a GTM Container.
      { # Represents a Google Tag Manager Tag.
        "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
          "map": [ # This map parameter's parameters (must have keys; keys must be unique).
            # Object with schema name: Parameter
          ],
          "list": [ # This list parameter's parameters (keys will be ignored).
            # Object with schema name: Parameter
          ],
          "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
          "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
          "type": "A String", # The parameter type. Valid values are:
              # - boolean: The value represents a boolean, represented as 'true' or 'false'
              # - integer: The value represents a 64-bit signed integer value, in base 10
              # - list: A list of parameters should be specified
              # - map: A map of parameters should be specified
              # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
              # - trigger_reference: The value represents a trigger, represented as the trigger id
        },
        "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
        "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
        "type": "A String", # GTM Tag Type.
        "containerId": "A String", # GTM Container ID.
        "tagFiringOption": "A String", # Option to fire this tag.
        "notes": "A String", # User notes on how to apply this tag in the container.
        "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
        "parentFolderId": "A String", # Parent folder id.
        "name": "A String", # Tag display name.
        "paused": True or False, # True if the tag is paused.
        "setupTag": [ # The list of setup tags. Currently we only allow one.
          {
            "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
            "tagName": "A String", # The name of the setup tag.
          },
        ],
        "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
          "A String",
        ],
        "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
        "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
        "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
          "A String",
        ],
        "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
          "A String",
        ],
        "parameter": [ # The tag's parameters.
          { # Represents a Google Tag Manager Parameter.
            "map": [ # This map parameter's parameters (must have keys; keys must be unique).
              # Object with schema name: Parameter
            ],
            "list": [ # This list parameter's parameters (keys will be ignored).
              # Object with schema name: Parameter
            ],
            "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
            "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
            "type": "A String", # The parameter type. Valid values are:
                # - boolean: The value represents a boolean, represented as 'true' or 'false'
                # - integer: The value represents a 64-bit signed integer value, in base 10
                # - list: A list of parameters should be specified
                # - map: A map of parameters should be specified
                # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
                # - trigger_reference: The value represents a trigger, represented as the trigger id
          },
        ],
        "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
          "A String",
        ],
        "teardownTag": [ # The list of teardown tags. Currently we only allow one.
          {
            "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
            "tagName": "A String", # The name of the teardown tag.
          },
        ],
        "accountId": "A String", # GTM Account ID.
      },
    ],
  }</pre>
</div>

<div class="method">
    <code class="details" id="update">update(accountId, containerId, tagId, body, fingerprint=None)</code>
  <pre>Updates a GTM Tag.

Args:
  accountId: string, The GTM Account ID. (required)
  containerId: string, The GTM Container ID. (required)
  tagId: string, The GTM Tag ID. (required)
  body: object, The request body. (required)
    The object takes the form of:

{ # Represents a Google Tag Manager Tag.
  "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
    "map": [ # This map parameter's parameters (must have keys; keys must be unique).
      # Object with schema name: Parameter
    ],
    "list": [ # This list parameter's parameters (keys will be ignored).
      # Object with schema name: Parameter
    ],
    "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
    "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
    "type": "A String", # The parameter type. Valid values are:
        # - boolean: The value represents a boolean, represented as 'true' or 'false'
        # - integer: The value represents a 64-bit signed integer value, in base 10
        # - list: A list of parameters should be specified
        # - map: A map of parameters should be specified
        # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
        # - trigger_reference: The value represents a trigger, represented as the trigger id
  },
  "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
  "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
  "type": "A String", # GTM Tag Type.
  "containerId": "A String", # GTM Container ID.
  "tagFiringOption": "A String", # Option to fire this tag.
  "notes": "A String", # User notes on how to apply this tag in the container.
  "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
  "parentFolderId": "A String", # Parent folder id.
  "name": "A String", # Tag display name.
  "paused": True or False, # True if the tag is paused.
  "setupTag": [ # The list of setup tags. Currently we only allow one.
    {
      "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
      "tagName": "A String", # The name of the setup tag.
    },
  ],
  "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
    "A String",
  ],
  "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
  "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
  "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
    "A String",
  ],
  "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
    "A String",
  ],
  "parameter": [ # The tag's parameters.
    { # Represents a Google Tag Manager Parameter.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
  ],
  "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
    "A String",
  ],
  "teardownTag": [ # The list of teardown tags. Currently we only allow one.
    {
      "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
      "tagName": "A String", # The name of the teardown tag.
    },
  ],
  "accountId": "A String", # GTM Account ID.
}

  fingerprint: string, When provided, this fingerprint must match the fingerprint of the tag in storage.

Returns:
  An object of the form:

    { # Represents a Google Tag Manager Tag.
    "priority": { # Represents a Google Tag Manager Parameter. # User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
      "map": [ # This map parameter's parameters (must have keys; keys must be unique).
        # Object with schema name: Parameter
      ],
      "list": [ # This list parameter's parameters (keys will be ignored).
        # Object with schema name: Parameter
      ],
      "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
      "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
      "type": "A String", # The parameter type. Valid values are:
          # - boolean: The value represents a boolean, represented as 'true' or 'false'
          # - integer: The value represents a 64-bit signed integer value, in base 10
          # - list: A list of parameters should be specified
          # - map: A map of parameters should be specified
          # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
          # - trigger_reference: The value represents a trigger, represented as the trigger id
    },
    "scheduleStartMs": "A String", # The start timestamp in milliseconds to schedule a tag.
    "scheduleEndMs": "A String", # The end timestamp in milliseconds to schedule a tag.
    "type": "A String", # GTM Tag Type.
    "containerId": "A String", # GTM Container ID.
    "tagFiringOption": "A String", # Option to fire this tag.
    "notes": "A String", # User notes on how to apply this tag in the container.
    "tagId": "A String", # The Tag ID uniquely identifies the GTM Tag.
    "parentFolderId": "A String", # Parent folder id.
    "name": "A String", # Tag display name.
    "paused": True or False, # True if the tag is paused.
    "setupTag": [ # The list of setup tags. Currently we only allow one.
      {
        "stopOnSetupFailure": True or False, # If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.
        "tagName": "A String", # The name of the setup tag.
      },
    ],
    "blockingRuleId": [ # Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.
      "A String",
    ],
    "liveOnly": True or False, # If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).
    "fingerprint": "A String", # The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
    "firingRuleId": [ # Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
      "A String",
    ],
    "firingTriggerId": [ # Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
      "A String",
    ],
    "parameter": [ # The tag's parameters.
      { # Represents a Google Tag Manager Parameter.
        "map": [ # This map parameter's parameters (must have keys; keys must be unique).
          # Object with schema name: Parameter
        ],
        "list": [ # This list parameter's parameters (keys will be ignored).
          # Object with schema name: Parameter
        ],
        "value": "A String", # A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.
        "key": "A String", # The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.
        "type": "A String", # The parameter type. Valid values are:
            # - boolean: The value represents a boolean, represented as 'true' or 'false'
            # - integer: The value represents a 64-bit signed integer value, in base 10
            # - list: A list of parameters should be specified
            # - map: A map of parameters should be specified
            # - template: The value represents any text; this can include variable references (even variable references that might return non-string types)
            # - trigger_reference: The value represents a trigger, represented as the trigger id
      },
    ],
    "blockingTriggerId": [ # Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.
      "A String",
    ],
    "teardownTag": [ # The list of teardown tags. Currently we only allow one.
      {
        "stopTeardownOnFailure": True or False, # If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.
        "tagName": "A String", # The name of the teardown tag.
      },
    ],
    "accountId": "A String", # GTM Account ID.
  }</pre>
</div>

</body></html>